.modal {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: minmax(370px, 600px);
  background-color: var(--gray);
  border: none;
  border-radius: 15px;
  color: var(--bright);
  padding: 20px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal__header__title {
  text-size-adjust: calc();
}
.modal__close-btn {
  display: flex;
  float: right;
  right: 0;
  top: 0;
  transform: translateX(5px);
  transform: translateY(-5px);
  background-color: transparent;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.1s;
  background-color: #313131;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}

.modal__close-btn:hover {
  background-color: #525252;
}

.modal__close-btn_icon {
  color: var(--bright);
  width: 90%;
  height: 90%;
}
