:root {
  --primary: #f08119;
  --light-gray: #545454;
  --gray: #101010;
  --dark-gray: #050505;
  --bright: #e8e1d1;
}

@font-face {
  font-family: 'built-titling';
  src: url('fonts/built_titling.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
