.content{
    /* padding: 0vw 10vw 0vw 10vw; */
    /* min() is good for setting responsive PAGE margins
    - Using a percetange creates responsiveness for any type of smaller screen
    - Using an absolute number is for when the percentage of the page would make the content too big
    */
    
    width: min(90%, 60.5rem); 
    margin: auto;
    letter-spacing: 0.03rem;
}
.grid {
    display: flex;
    transition: ease all 0.5s;
    flex-direction: row;
    gap: 1rem;
}

.container {
    border: 2px solid var(--primary);
    border-radius: 20px;
    background-color: var(--dark-gray);
    margin: 10px;
}

.container.maps{
    width: 100%;
}


.container.avatar img {
    max-width: 352px;
    width: 100%;
}

.container__avatar__score-titles {
    display: flex;
    justify-content:space-around;
    padding: 0.3rem 0.5rem;
     background-color: var(--primary);
     font-family: 'built-titling';
     font-size: 1.3rem;
     color: var(--bright);
}

.container__avatar__scores {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    color: var(--bright);
}

.container__avatar__scores span {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    filter: drop-shadow(0px 6px 8px var(--primary));
}

.container__avatar__score-titles span {
    width: 100%;
}

.intro {
    position: relative;
    margin: auto;
    padding: 1rem;
}

.intro__background__1 { 
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 8px var(--primary))
}


.intro__text {
    display: grid;
    position: absolute;
    transition: ease all 0.5s;
    
    top: 7.5rem;
    left: 3rem;
    z-index: 2;
}

.intro__title {
    font-size: 12rem;
    font-family: 'built-titling';
    transition: ease font-size 0.5s;
    z-index: 2;
    color: white;
    justify-self:end;
    line-height: 8.5rem;
}

.intro__rank {
    color: var(--primary);
    font-family: 'built-titling';
    transition: ease font-size 0.5s;
    font-size: 3rem;
    z-index: 2;
    justify-self: right;
}

.maps__title {
    background-color: var(--primary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'built-titling';
    color: white;
    font-size: 1.3rem;
    padding: 0.3rem;
}

/* Responsive Design
- minmax: Provides a range of values between a min and max, min is fixed, max is relative-> Continuous sizing
- auto-fill: Fills as many columns as possible, including implicit column space if needed
- auto-fit: Fit the non-empty and explictly available columns into remaining space AFTER auto-fill is done and the implicit columns are removed

*/
.maps__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.map__container {
    display: grid;
    gap: 0.5rem;
    justify-items: center;
    flex-direction: column;
    background-color: var(--gray);
    border-radius: 20px;
    padding-top: 0.5rem;
    color: white;
}


.map__container img {
    border-radius: 15px;
    height: 12rem;
}

.map__container__title{
    font-weight: bolder;
    font-size: 1.3rem;
}

.map__container__code{
    font-weight: bolder;
    font-size: 1.3rem;
    background-color: var(--primary);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    padding: 0.3rem;
}

.background-picture {
    position: fixed;
    top: 0px;
    left:0px;
    opacity: 20%;
    width: 140vw;
    padding-bottom: 100vh;
    z-index: -1;
    filter: blur(3px)
}

@media (max-width: 620px) {
    
    /* .intro__container__title {
        font-size: 30vw;
    } */

    .intro__text {
        top: 20vw;
    }
    .intro__title {
        
        font-size: 28vw;
        line-height: 22vw;
    }

    .intro__rank {
        font-size: 7.6vw;
    }
    
    .intro {
        height: 73vw;
    }
}

/* @media (max-width: 950px) {
    
    .grid{
        font-size:1rem;
    }
} */

@media (max-width: 970px) {
    
    .container__avatar__score-titles span {
        font-size:1rem;
    }

    .container__avatar__scores span {
        font-size:1.2rem;
    }
}

/* Mobile devices: Starting with big */
@media (max-width: 1065px) {
    .grid {
       flex-direction: column;
    }
}

.alert-bar {
    display: flex;
    color: var(--bright);
    background-color: var(--dark-gray);
    height: 40px;
    transition: ease all 0.2s;
    align-items: center;
    justify-content: center;
  }

.alert-bar_popup {
    display: flex;
    color: white;
    background-color: var(--primary);
    height: 40px;
    transition: ease all 0.2s;
    align-items: center;
    justify-content: center;
  }


  .alert-bar_popup:hover {
   height:80px;
   cursor: pointer;
  }
  
  .alert-bar__text {
    font-family: 'built-titling';
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
  }

  .claim-profile-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    width: 370px;
    background-color: var(--dark-gray);
    color: var(--bright);
    padding: 20px;
}

.profile-code__input {
    display: block;
}

.profile-code__input__button {
    display: block;
}

/* 
1. Problems with LONG descendant selector chains

1. Specificity Issues (selectors can overlap), resulting in need for more specificty, rabbit hole
2. Fragile, Tightly coupled to HTML, not scalable, modular
3. Not reusable -> monolithic CSS, not scalable

Method to using subclasses:
- HTML: Set class name to "superclass subclass sub-subclass..."
- CSS: Set selector name to ".superclass" and ".superclass.subclass" respectively

*/

/* 
1. Flex-shrink: Decreases flex items size by a proportionate amt.
 - Explicitly setting 3 items' width to 300, 600, and 300 px would make the container width 1200px
- If the page width is 600px, flex-shrink will divide the widths of the flex items by 2
- So we get 150, 300, and 150px

*/

/* Shorthands: CSS statements that do the work of multiple css statements*/

